<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.reuseware.coconut.compositionprogram.compositionStepPostProcessor">
      <postProcessor
            class="org.reuseware.coconut.compositionprogram.lacome.LaCoMeCompositionStepPostProcessor">
      </postProcessor>
   </extension>
   <extension
         point="org.reuseware.lacome.targetDiagramInformationProvider">
      <provider
            provider="org.reuseware.coconut.compositionprogram.lacome.UCLDITargetDiagramInformationProvider">
      </provider>
   </extension>

</plugin>
