<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension
	      point="org.reuseware.lacome.diagramArranger">
	    <arranger
	    	  comparator="org.reuseware.lacome.adjustment.comparator.YPositionComparator"
	          arranger="org.reuseware.lacome.adjustment.arranger.MultiHorizontalArranger"
	          id="mhsort">
	    </arranger>
	    <arranger
	    	comparator="org.reuseware.lacome.adjustment.comparator.XPositionComparator"
         	arranger="org.reuseware.lacome.adjustment.arranger.HorizontalArranger"
      		id="hsort">
    	</arranger>
	    <arranger
	    	comparator="org.reuseware.lacome.adjustment.comparator.YPositionComparator"
	        arranger="org.reuseware.lacome.adjustment.arranger.VerticalArranger"
	        id="vert">
	    </arranger>
    	<arranger
    		comparator="org.reuseware.lacome.adjustment.comparator.YPositionComparator"
           arranger="org.reuseware.lacome.adjustment.arranger.MultiVerticalArranger"
           id="mvert">
    	</arranger>
    	<arranger
           arranger="org.reuseware.lacome.adjustment.arranger.ModelArranger"
           id="model">
    	</arranger>
    	<arranger
    		comparator="org.reuseware.lacome.adjustment.comparator.XPositionComparator"
           arranger="org.reuseware.lacome.adjustment.arranger.UniformScalingArranger"
           id="uscale">
    	</arranger>
    	<arranger
    		comparator="org.reuseware.lacome.adjustment.comparator.YPositionComparator"
           arranger="org.reuseware.lacome.adjustment.arranger.HorizontalArranger"
           id="hsorty">
    	</arranger>
	</extension>
	
	<extension
         point="org.reuseware.lacome.diagramCompositionStrategy">
		<strategy
      		id="default">
		</strategy>
		<strategy
        	id="model">
        	<arranger
               id="model">
        	</arranger>
		</strategy>
		<strategy
       		id="java">
		</strategy>
		<strategy
      		id="hsort">
            <arranger
                  id="hsort">
            </arranger>
		</strategy>
		<strategy
             id="mhsort">
             <arranger
                   id="mhsort">
             </arranger>
		</strategy>
		<strategy
      		id="hsorty">
            <arranger
                  id="hsorty">
            </arranger>
		</strategy>
		<strategy
        	id="mvert">
        	<arranger
               id="mvert">
        	</arranger>
		</strategy>
		<strategy
        	id="vert">
        	<arranger
               id="vert">
        	</arranger>
		</strategy>
		<strategy
      		id="uscale">
      		<arranger
              id="uscale">
      		</arranger>
		</strategy> 
	</extension>

</plugin>
