<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.reuseware.org/application/abstractcim"
            class="org.reuseware.application.abstractcim.AbstractcimPackage"/>
   </extension>

   <extension
         point="org.reuseware.coconut.resource.fragmentStores">
      <mapping
            baseUFI="reuseware:/"
            folder="store/">
      </mapping>

     <fragment
            uFI="store/abstractcim/EmptyCore.cim">
      </fragment>
      <fragment
            uFI="store/abstractcim/4PortEthernetIPInterface.cim">
      </fragment>
      <fragment
            uFI="store/abstractcim/8PortEthernetIPInterface.cim">
      </fragment>
      <fragment
            uFI="store/abstractcim/ADSLIPInterface.cim">
      </fragment>
      <fragment
            uFI="store/abstractcim/DHCPServer.cim">
      </fragment>
      <fragment
            uFI="store/abstractcim/NATService.cim">
      </fragment>
      <fragment
            uFI="store/abstractcim/Router.cim">
      </fragment>
      <fragment
            uFI="store/abstractcim/WifiInterface.cim">
      </fragment>
      
      <reuseExtension
            file="store/abstractcim/default.rex">
      </reuseExtension>

      <fragmentfiles
            diagramExtension="cim_diagram"
            extension="cim">
      </fragmentfiles>
   </extension>
</plugin>
