<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="org.reuseware.coconut.fracol.resource.fracol.mopp.FracolMetaInformation" id="org.reuseware.coconut.fracol.resource.fracol.mopp.FracolMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="org.reuseware.coconut.fracol.resource.fracol.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="org.reuseware.coconut.fracol.resource.fracol.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.reuseware.coconut.fracol.resource.fracol.problem">
		</super>
	</extension>
	
	<extension id="org.reuseware.coconut.fracol.resource.fracol.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.reuseware.coconut.fracol.resource.fracol.problem">
		</super>
	</extension>
	
	<extension id="org.reuseware.coconut.fracol.resource.fracol.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.reuseware.coconut.fracol.resource.fracol.problem">
		</super>
	</extension>
	
	<extension id="org.reuseware.coconut.fracol.resource.fracol.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.reuseware.coconut.fracol.resource.fracol.problem">
		</super>
	</extension>
	
	<extension id="org.reuseware.coconut.fracol.resource.fracol.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.reuseware.coconut.fracol.resource.fracol.problem">
		</super>
	</extension>
	
	<extension id="org.reuseware.coconut.fracol.resource.fracol.nature" name="fracol nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="org.reuseware.coconut.fracol.resource.fracol.mopp.FracolNature">
			</run>
		</runtime>
		<builder id="org.reuseware.coconut.fracol.resource.fracol.builder">
		</builder>
		<builder id="org.reuseware.coconut.fracol.resource.fracol.taskItemBuilder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.reuseware.coconut.fracol.resource.fracol.builder" name="fracol Builder">
		<builder hasNature="true">
			<run class="org.reuseware.coconut.fracol.resource.fracol.mopp.FracolBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="org.reuseware.coconut.fracol.resource.fracol.taskItemBuilder" name="fracol Task Item Builder">
		<builder hasNature="true">
			<run class="org.reuseware.coconut.fracol.resource.fracol.mopp.FracolTaskItemBuilder">
			</run>
		</builder>
	</extension>
	
	<extension-point id="org.reuseware.coconut.fracol.resource.fracol.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="org.reuseware.coconut.fracol.resource.fracol.mopp.FracolResourceFactoryDelegator" type="fracol">
		</parser>
	</extension>
	
	<extension-point id="org.reuseware.coconut.fracol.resource.fracol.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
