<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.reuseware.coconut.compositionprogram.resource.ucl.reporter">
      <reporter
            class="org.reuseware.coconut.resource.gmf.GMFCompositionProblemReporter">
      </reporter>
   </extension>
   <extension
         point="org.reuseware.coconut.resource.diagramType">
      <digramType
            eClass="Diagram"
            ePackage="http://www.eclipse.org/gmf/runtime/1.0.0/notation">
      </digramType>
      <digramType
            eClass="Diagram"
            ePackage="http://www.eclipse.org/gmf/runtime/1.0.1/notation">
      </digramType>
      <digramType
            eClass="Diagram"
            ePackage="http://www.eclipse.org/gmf/runtime/1.0.2/notation">
      </digramType>
   </extension>

</plugin>
