<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.reuseware.coconut.compositionprogram.resource.ucl.reporter">
      <reporter
            class="org.reuseware.coconut.resource.topcased.TopcasedCompositionProblemReporter">
      </reporter>
   </extension>
   <extension
         point="org.reuseware.coconut.resource.diagramType">
      <digramType
            eClass="Diagrams"
            ePackage="http://www.topcased.org/Diagrams/1.0">
      </digramType>
   </extension>

</plugin>
