<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
	<extension
         point="org.reuseware.lacome.sourceDiagramInformationProvider">
		<provider
            provider="org.reuseware.lacome.layoutlanguage.gmf.GMFSourceDiagramInformationProvider">
		</provider>
	</extension>
 <extension
       point="org.reuseware.lacome.diagramMerger">
    <merger
          id="org.reuseware.lacome.layoutlanguage.gmf.GMFMerger"
          merger="org.reuseware.lacome.layoutlanguage.gmf.GMFMerger">
    </merger>
 </extension>

	<extension
         point="org.reuseware.lacome.diagramAligner">
		<aligner
            aligner="org.reuseware.lacome.layoutlanguage.gmf.GMFAligner">
		</aligner>
	</extension>

</plugin>
