<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         name="indexerSorterTrivial"
         point="org.reuseware.sokan.index">
      <indexer
            class="org.reuseware.sokan.test.indexer.trivial.A1Indexer"
            id="org.reuseware.sokan.test.index.a1Indexer">
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.trivial.A2Indexer"
            id="org.reuseware.sokan.test.index.a2Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.a2Indexer">
         </dependsOn>
      </indexer>
   </extension>
   
   <!-- ******************** -->
   
	  <extension
	     name="indexerSorterList"
	     point="org.reuseware.sokan.index">
	  <indexer
	        class="org.reuseware.sokan.test.indexer.list.A3Indexer"
	        id="org.reuseware.sokan.test.index.a3Indexer">
	  </indexer>
	  <indexer
	        class="org.reuseware.sokan.test.indexer.list.B3Indexer"
            id="org.reuseware.sokan.test.index.b3Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.a3Indexer">
         </dependsOn>
      </indexer>
      
      <indexer
            class="org.reuseware.sokan.test.indexer.list.A4Indexer"
            id="org.reuseware.sokan.test.index.a4Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.b4Indexer">
         </dependsOn>
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.b4Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.list.B4Indexer"
            id="org.reuseware.sokan.test.index.b4Indexer">
      </indexer>
      
      <indexer
            class="org.reuseware.sokan.test.indexer.list.A5Indexer"
            id="org.reuseware.sokan.test.index.a5Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.b5Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.list.B5Indexer"
            id="org.reuseware.sokan.test.index.b5Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.a5Indexer">
         </dependsOn>
      </indexer>
      
      <indexer
            class="org.reuseware.sokan.test.indexer.list.A6Indexer"
            id="org.reuseware.sokan.test.index.a6Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.c6Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.list.B6Indexer"
            id="org.reuseware.sokan.test.index.b6Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.c6Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.list.C6Indexer"
            id="org.reuseware.sokan.test.index.c6Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.b6Indexer">
         </dependsOn>
      </indexer>
      
      <indexer
            class="org.reuseware.sokan.test.indexer.list.A7Indexer"
            id="org.reuseware.sokan.test.index.a7Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.b7Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.list.B7Indexer"
            id="org.reuseware.sokan.test.index.b7Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.c7Indexer">
         </dependsOn>
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.a7Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.list.C7Indexer"
            id="org.reuseware.sokan.test.index.c7Indexer">
      </indexer>
   </extension>
   
   
   <!-- ******************** -->
   
   <extension
         name="indexerSorterTree"
         point="org.reuseware.sokan.index">
      <indexer
            class="org.reuseware.sokan.test.indexer.tree.A8Indexer"
            id="org.reuseware.sokan.test.index.a8Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.d8Indexer,org.reuseware.sokan.test.index.b8Indexer">
         </dependsOn>
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.c8Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.tree.B8Indexer"
            id="org.reuseware.sokan.test.index.b8Indexer">
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.tree.C8Indexer"
            id="org.reuseware.sokan.test.index.c8Indexer">
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.tree.D8Indexer"
            id="org.reuseware.sokan.test.index.d8Indexer">
      </indexer>
   </extension>

 	<!-- ******************** -->
   
   <extension
         name="indexerSorterComplex"
         point="org.reuseware.sokan.index">
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.D9Indexer"
            id="org.reuseware.sokan.test.index.d9Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.c9Indexer,org.reuseware.sokan.test.index.e9Indexer">
         </dependsOn>
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.a9Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.C9Indexer"
            id="org.reuseware.sokan.test.index.c9Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.b9Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.E9Indexer"
            id="org.reuseware.sokan.test.index.e9Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.b9Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.A9Indexer"
            id="org.reuseware.sokan.test.index.a9Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.b9Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.B9Indexer"
            id="org.reuseware.sokan.test.index.b9Indexer">
      </indexer>
      
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.A10Indexer"
            id="org.reuseware.sokan.test.index.a10Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.b10Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.D10Indexer"
            id="org.reuseware.sokan.test.index.d10Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.c10Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.B10Indexer"
            id="org.reuseware.sokan.test.index.b10Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.a10Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.C10Indexer"
            id="org.reuseware.sokan.test.index.c10Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.b10Indexer">
         </dependsOn>
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.d10Indexer">
         </dependsOn>
      </indexer>
      
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.C11Indexer"
            id="org.reuseware.sokan.test.index.c11Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.b11Indexer">
         </dependsOn>
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.a11Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.A11Indexer"
            id="org.reuseware.sokan.test.index.a11Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.c11Indexer">
         </dependsOn>
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.b11Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.B11Indexer"
            id="org.reuseware.sokan.test.index.b11Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.a11Indexer">
         </dependsOn>
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.c11Indexer">
         </dependsOn>
      </indexer>
      
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.D12Indexer"
            id="org.reuseware.sokan.test.index.d12Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.e12Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.A12Indexer"
            id="org.reuseware.sokan.test.index.a12Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.f12Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.E12Indexer"
            id="org.reuseware.sokan.test.index.e12Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.c12Indexer">
         </dependsOn>
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.b12Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.F12Indexer"
            id="org.reuseware.sokan.test.index.f12Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.e12Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.C12Indexer"
            id="org.reuseware.sokan.test.index.c12Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.d12Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.B12Indexer"
            id="org.reuseware.sokan.test.index.b12Indexer">
      </indexer>
      
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.E13Indexer"
            id="org.reuseware.sokan.test.index.e13Indexer">
         <dependsOn
            indexerID="Foo">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.C13Indexer"
            id="org.reuseware.sokan.test.index.c13Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.f13Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.G13Indexer"
            id="org.reuseware.sokan.test.index.g13Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.j13Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.I13Indexer"
            id="org.reuseware.sokan.test.index.i13Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.k13Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.F13Indexer"
            id="org.reuseware.sokan.test.index.f13Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.b13Indexer">
         </dependsOn>
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.d13Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.J13Indexer"
            id="org.reuseware.sokan.test.index.j13Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.c13Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.K13Indexer"
            id="org.reuseware.sokan.test.index.k13Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.h13Indexer">
         </dependsOn>
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.a13Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.D13Indexer"
            id="org.reuseware.sokan.test.index.d13Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.b13Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.B13Indexer"
            id="org.reuseware.sokan.test.index.b13Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.j13Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.A13Indexer"
            id="org.reuseware.sokan.test.index.a13Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.j13Indexer">
         </dependsOn>
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.complex.H13Indexer"
            id="org.reuseware.sokan.test.index.h13Indexer">
         <dependsOn
            indexerID="org.reuseware.sokan.test.index.a13Indexer">
         </dependsOn>
      </indexer>
   </extension>

 	<!-- ******************** -->
   
   <extension
         name="loopIndexers"
         point="org.reuseware.sokan.index">
      <indexer
            class="org.reuseware.sokan.test.indexer.loop.CreateIndexLoopIndexer"
            id="org.reuseware.sokan.test.indexer.createLoopIndexer">
      </indexer>
      <indexer
            class="org.reuseware.sokan.test.indexer.loop.DependencyLoopIndexer"
            id="org.reuseware.sokan.test.indexer.dependLoopIndexer">
      </indexer>
   </extension>
</plugin>
